{#
/**
 * @file
 * Template for the styleguide.
 */
#}
<div class="l-mmda-styleguide clearfix">
  {# if content.one #}
  <div class="l-mmda-styleguide__row-1">
    {# content.one #}
    <div class="styleguide">
      <div class="l-container">
        <h1>style guide</h1>
        <h2>container</h2>
      </div>
      <div class="l-container l-container--example">
        <div>.l-container</div>

        <div class="l-container--example l-container-inner">
        .l-container-inner
        </div>
      </div>

      <div class="l-container">
        <hr>
        <h2>grid</h2>
        <div class="row row--example">
          <div class="col col--4">
            <div class="col-example">lorem ipsum</div>
          </div>
          <div class="col col--4">
            <div class="col-example">lorem ipsum</div>
          </div>
          <div class="col col--4">
            <div class="col-example">lorem ipsum</div>
          </div>
        </div>
        <div class="row row--example">
          <div class="col col--3">
            <div class="col-example">lorem ipsum</div>
          </div>
          <div class="col col--3">
            <div class="col-example">lorem ipsum</div>
          </div>
          <div class="col col--3">
            <div class="col-example">lorem ipsum</div>
          </div>
          <div class="col col--3">
            <div class="col-example">lorem ipsum</div>
          </div>
        </div>

        <hr>

        <h2>custom headings</h2>
        <h1 class="title title--primary">Primary Title</h1>
        <h2 class="title title--secondary">Secondary Title</h2>

        <hr>

        <h2>card</h2>
        <article class="card">
          <a href="#" class="card__link">
            <div class="card__image">
              <img src="http://blog.agroknow.com/wp-content/uploads/2016/03/6835100-landscape.jpg">
            </div>
            <div class="card__icon">
              <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#cross"></svg>
            </div>
          </a>
          <div class="card__content">
            <div class="card__title">
              Kaplan Blog
            </div>
            <div class="card__description">
              Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet.
            </div>
          </div>
        </article>

        <hr>

        <h2>links and buttons</h2>
        <p>
          this is an <a href="#">inline link</a>.
        </p>
        <p>
          <a href="#" class="btn">Default button</a>
        </p>
        <p>
          <a href="#" class="btn btn--no-underline">Default button - No underline</a>
        </p>
        <p>
          <a href="#" class="btn-primary">Primary button</a>
        </p>
        <p>
          <a href="#" class="btn-primary btn-primary--text-light">Primary button - text-light</a>
        </p>
        <p>
          <a href="#" class="btn-primary btn-primary--text-color">Primary button - text color</a>
        </p>
        <p>
          <a href="#" class="btn-secondary">Secondary button</a>
        </p>

        <hr>

        <h2>icons</h2>
        <h3>icon--small (16px)</h3>
        <svg class="icon icon--small"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#arrow-left"></svg>
        <svg class="icon icon--small"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#arrow-right-circle"></svg>
        <svg class="icon icon--small"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#anchor"></svg>
        <svg class="icon icon--small"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#trophy"></svg>
        <svg class="icon icon--small"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#medal"></svg>
        <svg class="icon icon--small"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#star"></svg>
        <svg class="icon icon--small"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#pen"></svg>
        <svg class="icon icon--small"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#code"></svg>
        <svg class="icon icon--small"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#drupal"></svg>
        <svg class="icon icon--small"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#buoy"></svg>
        <svg class="icon icon--small"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#facebook"></svg>
        <svg class="icon icon--small"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#instagram"></svg>
        <svg class="icon icon--small"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#twitter"></svg>
        <svg class="icon icon--small"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#do"></svg>
        <svg class="icon icon--small"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#linkedin"></svg>

        <h3>icon--medium (24px)</h3>
        <svg class="icon icon--medium"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#arrow-left"></svg>
        <svg class="icon icon--medium"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#arrow-right-circle"></svg>
        <svg class="icon icon--medium"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#anchor"></svg>
        <svg class="icon icon--medium"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#trophy"></svg>
        <svg class="icon icon--medium"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#medal"></svg>
        <svg class="icon icon--medium"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#star"></svg>
        <svg class="icon icon--medium"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#pen"></svg>
        <svg class="icon icon--medium"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#code"></svg>
        <svg class="icon icon--medium"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#drupal"></svg>
        <svg class="icon icon--medium"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#buoy"></svg>
        <svg class="icon icon--medium"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#facebook"></svg>
        <svg class="icon icon--medium"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#instagram"></svg>
        <svg class="icon icon--medium"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#twitter"></svg>
        <svg class="icon icon--medium"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#do"></svg>
        <svg class="icon icon--medium"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#linkedin"></svg>

        <h3>icon--large (32px)</h3>
        <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#arrow-left"></svg>
        <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#arrow-right-circle"></svg>
        <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#anchor"></svg>
        <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#trophy"></svg>
        <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#medal"></svg>
        <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#star"></svg>
        <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#pen"></svg>
        <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#code"></svg>
        <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#drupal"></svg>
        <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#buoy"></svg>
        <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#facebook"></svg>
        <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#instagram"></svg>
        <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#twitter"></svg>
        <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#do"></svg>
        <svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#linkedin"></svg>


        <h3>large icon as a link</h3>
        <a href="#"><svg class="icon icon--large"><use xlink:href="/themes/teka_mmda/dist/svg/symbol/svg/sprite.symbol.svg#anchor"></svg></a>
        <hr>
      </div>
    </div>
  </div>
  {# endif #}
</div>
