<div class="l-page-wrapper">
  <main role="main" class="l-main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="l-container l-container--content-wrapper">
      <div class="l-container-inner">
        <div class="layout-content">
          {{ page.help }}
          {{ page.highlighted }}
          {{ page.content }}
        </div>{# /.layout-content #}
      </div>
    </div>
  </main>

  {% if page.footer %}
    <footer role="contentinfo" class="l-footer">
      <div class="l-container l-container--large">
        {{ page.footer }}
        <div class="copyright">© MMDA</div>
      </div>
      <div class="footer-parallax-wrapper">
        <div class="footer-parallax-inner footer-parallax-bg">
        </div>
      </div>
    </footer>
  {% endif %}

</div>{# /.page-wrapper #}
