<div class="l-page-wrapper">
  <main role="main" class="l-main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="l-container l-container--content-wrapper">
      <div class="l-container-inner">
        <div class="layout-content">
          {{ page.highlighted }}
          {{ page.help }}
          {{ page.content }}
        </div>{# /.layout-content #}
      </div>
    </div>
  </main>
</div>{# /.page-wrapper #}
